[Desktop Entry]
Version=1.0
Type=Application
Name=Spreadsheet
Name[en_US]=Spreadsheet
Name[es_GT]=Hoja de Cálculo
Name[pt_BR]=Spreadsheet
Comment=Spreadsheet
TryExec=libreoffice --calc %U
Exec=libreoffice --calc %U
Icon=spreadsheet
Categories=
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/apps/libreofficecalc_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/apps/libreofficecalc_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/apps/libreofficecalc_down.png

