[Desktop Entry]
Version=1.0
Type=Application
Name=Writer
Name[en_US]=Writer
Name[es_GT]=Escritorio
Name[pt_BR]=Escritório
Comment=Writer
TryExec=libreoffice --writer %U
Exec=libreoffice --writer %U
Icon=libreoffice-writer
Categories=
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/apps/libreofficewriter_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/apps/libreofficewriter_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/apps/libreofficewriter_down.png

