[Desktop Entry]
Version=1.0
Type=Application
Name=E-mail
Name[en_US]=E-mail
Name[pt_BR]=E-mail
Comment=E-mail
TryExec=evolution %U
Exec=evolution %U
Icon=email
Categories=
X-EndlessM-Normal-Icon=/usr/share/icons/hicolor/48x48/apps/email_normal.png
X-EndlessM-Hover-Icon=/usr/share/icons/hicolor/48x48/apps/email_hover.png
X-EndlessM-Down-Icon=/usr/share/icons/hicolor/48x48/apps/email_down.png

