Makefile
Makefile.in
stamp-h1
*.swp
*~
.deps/
.libs/
*.gir
*.typelib
/compile
/depcomp
/libtool
/ltmain.sh
/aclocal.m4
/autom4te.cache
/config.*
/configure
/eos-app-store
/install-sh
/missing
/data/*.gresource
/data/eos-app-store.desktop
/EosAppStore/*.la
/EosAppStore/*.lo
/EosAppStore/config.js
/EosAppStore/config.h
/EosAppStore/config.h.in
/EosAppStore/path.js
/ABOUT-NLS
/m4
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/eos-app-store.pot
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-it
/po/.intltool-merge-cache
/po/*.gmo
