Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
eos-app-store
eos-fill-desktop
eos-reset-desktop
install-sh
missing
py-compile
stamp-h1
path_util.py
ABOUT-NLS
data/eos-app-store.desktop
libtool
ltmain.sh
m4/
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
