[Desktop Entry]
Version=1.0
Name=The Economist
Comment=
GenericName=The Economist
Type=Link
URL=http://www.economist.com
Icon=theeconomist
Categories=Network
