[Desktop Entry]
Version=1.0
Name=Facebook			
Comment=
GenericName=Facebook
Type=Link
URL=http://www.facebook.com
Icon=facebook
Categories=Entertainment;Games
