[Desktop Entry]
Version=1.0
Name=Translate
Comment=Google Translate
GenericName=Translate
Type=Link
URL=http://translate.google.com
Icon=googletranslate
Categories=Network
