[Desktop Entry]
Version=1.0
Name=Online Music
Comment=Grooveshark
GenericName=Online Music
Type=Link
URL=http://grooveshark.com
Icon=grooveshark
Categories=Entertainment;Games
