[Desktop Entry]
Version=1.0
Name=Learn to Type
Comment=
GenericName=Learn to Type
Type=Link
URL=http://10fastfingers.com/typing-test/english
Icon=typing
Categories=Network
