[Desktop Entry]
Version=1.0
Name=YouTube			
Comment=
GenericName=YouTube
Type=Link
URL=http://www.youtube.com
Icon=youtube
Categories=Entertainment;Games
