[Desktop Entry]
Version=1.0
Name=愤怒的小鸟
Comment=Angry Birds
GenericName=愤怒的小鸟
Type=Link
URL=http://chrome.angrybirds.com
Icon=angrybirds
Categories=Games
