[Desktop Entry]
Version=1.0
Name=在线音乐
Comment=Grooveshark
GenericName=在线音乐
Type=Link
URL=http://grooveshark.com
Icon=grooveshark
Categories=Entertainment;Games
