[Desktop Entry]
Version=1.0
Name=Khan Academy
Comment=
GenericName=Khan Academy
Type=Link
URL=http://www.khanacademy.org
Icon=khanacademy
Categories=Network
