[Desktop Entry]
Version=1.0
Name=学习型
Comment=
GenericName=学习型
Type=Link
URL=http://10fastfingers.com/typing-test/traditional-chinese
Icon=typing
Categories=Network
