[Desktop Entry]
Version=1.0
Name=World Wonders
Comment=World Wonders Project
GenericName=World Wonders
Type=Link
URL=http://www.google.com/culturalinstitute/worldwonders/
Icon=worldwondersproject
Categories=Education
