[Desktop Entry]
Version=1.0
Type=Application
Name=Audio Editor
Name[es]=Señor DJ
Name[pt]=Edita Som
Comment=Audacity
TryExec=audacity
Exec=audacity
Icon=audacity
Categories=Audio
