[Desktop Entry]
Version=1.0
Type=Application
Name=Calculator
Name[es]=Calculadora
Name[pt]=Calculadora
Comment=Calculator
TryExec=qalculate-gtk
Exec=qalculate-gtk
Icon=calculator
Categories=Utility;Calculator;
