[Desktop Entry]
Version=1.0
Type=Application
Name=Freecell
Comment=Freecell
TryExec=/usr/games/sol
Exec=/usr/games/sol --freecell --class sol-freecell
Icon=freecell
Categories=Games
X-EndlessM-Class-Name=sol-freecell
