[Desktop Entry]
Version=1.0
Type=Application
Name=Brain Teasers
Name[es]=Rompecabezas
Name[pt]=Quebra-cabeça
Comment=GBrainy
TryExec=gbrainy
Exec=gbrainy
Icon=gbrainy
Categories=Games
