[Desktop Entry]
Version=1.0
Type=Application
Name=Math
Name[es]=Matemáticas
Name[pt]=Matemática
Comment=Genius Math
TryExec=gnome-genius
Exec=gnome-genius
Icon=geniusmath
Categories=Utility;Calculator;
