[Desktop Entry]
Version=1.0
Type=Application
Name=Dictionary
Name[es]=Dicionário
Name[pt]=Dicionário
Comment=GoldenDict
TryExec=goldendict
Exec=goldendict
Icon=goldendict
Categories=Utility
