[Desktop Entry]
Version=1.0
Type=Application
Name=Presentation
Name[es]=Presentación
Name[pt]=Apresentação
Comment=Impress
TryExec=libreoffice
Exec=libreoffice --impress %U
Icon=office_presentation
Categories=Office
X-EndlessM-Class-Name=libreoffice-impress
