[Desktop Entry]
Version=1.0
Type=Application
Name=Kobo Deluxe
Name[es]=Kobo Deluxe
Name[pt]=Kobo Deluxe
Comment=Destroy enemy bases in space
TryExec=kobodl
Exec=kobodl
Icon=kobodeluxe
Categories=Games
