[Desktop Entry]
Version=1.0
Type=Application
Name=Breakout
Name[es]=El Escape
Name[pt]=Fuga
Comment=LBreakout2 game
TryExec=lbreakout2
Exec=lbreakout2
Icon=lbreakout
Categories=Games
