[Desktop Entry]
Version=1.0
Type=Application
Name=Music
Name[es]=Música
Name[pt]=Música
Comment=Music
TryExec=beatbox
Exec=beatbox %U
Icon=music
Categories=Audio
