[Desktop Entry]
Version=1.0
Type=Application
Name=Physics
Name[es]=Retos
Name[pt]=Fisicando
Comment=Numpty Physics game
TryExec=numptyphysics
Exec=numptyphysics
Icon=fisicando
Categories=Games;Education
