[Desktop Entry]
Version=1.0
Type=Application
Name=GIMP
Comment=Photo Editor
Comment[es]=Editor de Imágenes
Comment[pt]=Editor de Imagens
Comment[zh]=图像编辑器
Exec=gimp %U
TryExec=gimp-2.8
Icon=gimp
Categories=Photos
