[Desktop Entry]
Version=1.0
Type=Application
Name=Photos
Name[es]=Fotos
Name[pt]=Fotos
Comment=Shotwell Photo Organizer
TryExec=shotwell
Exec=shotwell %U
Icon=shotwell
Categories=Photos
