[Desktop Entry]
Version=1.0
Type=Application
Name=Solitaire
Comment=Solitaire
TryExec=/usr/games/sol
Exec=/usr/games/sol
Icon=solitaire
Categories=Games
