[Desktop Entry]
Version=1.0
Type=Application
Name=Stellarium
Name[es]=Constelaciones
Name[pt]=Constelação
Comment=Stellarium
TryExec=stellarium
Exec=stellarium
Icon=stellarium
Categories=Astronomy;Education;Science
