[Desktop Entry]
Version=1.0
Type=Application
Name=Sudoku
Comment=Sudoku
TryExec=/usr/games/gnome-sudoku
Exec=/usr/games/gnome-sudoku
Icon=sudoku
Categories=Games
