[Desktop Entry]
Version=1.0
Type=Application
Name=Teeworlds
Name[es]=Teelandia
Name[pt]=Teelândia
Comment=Multiplayer game
TryExec=teeworlds
Exec=teeworlds
Icon=teelandia
Categories=Games
