[Desktop Entry]
Version=1.0
Type=Application
Name=Tux Math
Name[es]=123 Tux
Name[pt]=123 Tux
Comment=Math Games
TryExec=tuxmath
Exec=tuxmath
Icon=123tux
Categories=Games;Education
