[Desktop Entry]
Version=1.0
Type=Application
Name=Tux Typing
Name[es]=Tecla Tux
Name[pt]=Tecla Tux
Comment=Typing game
TryExec=tuxtype
Exec=tuxtype
Icon=tuxtyping
Categories=Games
