[Desktop Entry]
Version=1.0
Type=Application
Name=Videos
Name[es]=Vídeos
Name[pt]=Vídeos
Comment=Video
TryExec=/usr/bin/vlc
Exec=/usr/bin/vlc %U
Icon=video
Categories=Video
