[Desktop Entry]
Version=1.0
Name=Weather
Name[es]=Tiempo
Name[pt]=Tempo
Comment=See the weather forecast
GenericName=Weather
Type=Application
Exec=endless-os-weather
Icon=weather
Categories=Network;News
