[Desktop Entry]
Version=1.0
Type=Application
Name=Quake
Name[en_US]=Quake
Name[pt_BR]=Quake
Comment=Quake
TryExec=/usr/games/openarena
Exec=/usr/games/openarena
Icon=quake
Categories=
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/apps/quake_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/apps/quake_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/apps/quake_down.png

