[Desktop Entry]
Version=1.0
Name=Hotmail
Name[en_US]=Hotmail
Name[es_GT]=Hotmail
Name[pt_BR]=Hotmail
Comment=Hotmail
GenericName=Hotmail
Type=Link
URL=http://hotmail.com
Icon=hotmail
Categories=Network
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/apps/hotmail_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/apps/hotmail_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/apps/hotmail_down.png
