[Desktop Entry]
Version=1.0
Type=Application
Name=Presentation
Name[en_US]=Presentation
Name[pt_BR]=Apresentação
Comment=Impress
TryExec=libreoffice --impress %U
Exec=libreoffice --impress %U
Icon=libreoffice-impress
Categories=
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/apps/libreofficeimpress_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/apps/libreofficeimpress_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/apps/libreofficeimpress_down.png

