[Desktop Entry]
Version=1.0
Name=Angry Birds
Comment=
GenericName=Angry Birds
Type=Link
URL=http://chrome.angrybirds.com
Icon=angrybirds
Categories=Games
