[Desktop Entry]
Version=1.0
Name=Academia Code
Comment=
GenericName=Academia Code
Type=Link
URL=http://www.codeacademy.com
Icon=codeacademy
Categories=Network
