[Desktop Entry]
Version=1.0
Name=Traductor
Comment=Google Translate
GenericName=Traductor
Type=Link
URL=http://translate.google.com
Icon=googletranslate
Categories=Network
