[Desktop Entry]
Version=1.0
Name=Música Virtual
Comment=Grooveshark
GenericName=Música Virtual
Type=Link
URL=http://grooveshark.com
Icon=grooveshark
Categories=Entertainment;Games
