[Desktop Entry]
Version=1.0
Name=Gobierno de Guatemala
Comment=
GenericName=Gobierno de Guatemala
Type=Link
URL=http://www.guatemala.gob.gt
Icon=guatemala
Categories=Network
