[Desktop Entry]
Version=1.0
Name=Academia Khan
Comment=
GenericName=Academia Khan
Type=Link
URL=http://es.khanacademy.org
Icon=khanacademy
Categories=Network
