[Desktop Entry]
Version=1.0
Name=Discusiones
Comment=TED
GenericName=Discusiones
Type=Link
URL=http://www.ted.com/translate/languages/es
Icon=ted
Categories=Network
