[Desktop Entry]
Version=1.0
Name=Teclado Fácil
Comment=
GenericName=Teclado Fácil
Type=Link
URL=http://10fastfingers.com/typing-test/spanish
Icon=typing
Categories=Network
