[Desktop Entry]
Version=1.0
Name=Maravillas
Comment=World Wonders Project
GenericName=Maravillas
Type=Link
URL=http://www.google.com/intl/es-419/culturalinstitute/worldwonders/
Icon=worldwondersproject
Categories=Education
