[Desktop Entry]
Version=1.0
Type=Application
Name=Stellarium
Name[en_US]=Stellarium
Name[pt_BR]=Stellarium
Comment=Stellarium
TryExec=stellarium
Exec=stellarium
Icon=stellarium
Categories=
X-EndlessM-Normal-Icon=/usr/share/icons/hicolor/48x48/apps/stellarium_normal.png
X-EndlessM-Hover-Icon=/usr/share/icons/hicolor/48x48/apps/stellarium_hover.png
X-EndlessM-Down-Icon=/usr/share/icons/hicolor/48x48/apps/stellarium_down.png

