[Desktop Entry]
Version=1.0
Name=Wikipedia
Name[en_US]=Wikipedia
Name[pt_BR]=Wikipedia
Comment=Wikipedia
GenericName=Wikipedia
Type=Link
URL=http://www.wikipedia.com
Icon=wikipedia
Categories=Network
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/wikipedia_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/wikipedia_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/wikipedia_down.png


