Source: eos-app-store
Section: non-free/misc
Priority: standard
Maintainer: Endless Mobile <maintainers@endlessm.com>
Uploaders: Roddy Shuler <roddy@endlessm.com>
Build-Depends: cdbs (>= 0.4.90~),
               autotools-dev,
               debhelper (>= 0.7),
               gnome-pkg-tools,
               gobject-introspection,
               libgtk-3-dev,
               pkg-config,
               libgjs-dev,
               libjson-glib-dev,
               libgnome-menu-3-dev,
               libwebkit2gtk-3.0-dev,
               eos-pstack-dev,
               eos-sdk-dev
Standards-Version: 3.9.2
Homepage: http://www.endlessm.com

Package: eos-app-store
Architecture: all
Depends: ${gir:Depends},
	 ${misc:Depends},
         ${shlibs:Depends},
         gir1.2-endless-0,
	 gir1.2-eos-pstack,
         gir1.2-gdkpixbuf-2.0,
	 gir1.2-glib-2.0,
         gir1.2-gmenu-3.0,
	 gir1.2-gtk-3.0,
         gir1.2-json-1.0,
	 gir1.2-webkit2-3.0,
	 gjs,
	 xdg-utils
Description: Endless OS App Store installation package
 This package will install the Endless OS App Store
