Source: eos-app-store
Section: non-free/misc
Priority: standard
Maintainer: Endless Mobile <maintainers@endlessm.com>
Uploaders: Roddy Shuler <roddy@endlessm.com>
Build-Depends: cdbs (>= 0.4.90~),
               autotools-dev,
               debhelper (>= 0.7),
               gnome-pkg-tools,
               gobject-introspection,
               libgtk-3-dev,
               pkg-config,
               python (>= 2.6.6-3~)
X-Python-Version: >= 2.4
Standards-Version: 3.9.2
Homepage: http://www.endlessm.com

Package: eos-app-store
Architecture: all
Depends: ${python:Depends},
	 ${misc:Depends},
	 python-gi (>= 3.0),
	 gir1.2-glib-2.0,
	 gir1.2-gtk-3.0,
	 python-setuptools,
	 xdg-utils
Description: Endless OS App Store installation package
 This package will install the Endless OS App Store
