Source: endless-os-desktop-widget
Section: non-free/misc
Priority: standard
Maintainer: Asynchrony Solutions, Inc <endlessmobile@gmail.com>
Build-Depends: debhelper
Standards-Version: 3.9.2
Homepage: http://www.endlessm.com

Package: endless-os-desktop-widget
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python(>=2.6), python-gtk2, python-setuptools, python-xlib, pcmanfm, beatbox, gstreamer0.10-ffmpeg, libreoffice, evolution, eog, gcalctool, gnome-utils, vlc, pidgin, endless-os-browser(>=1.0.18~rc3), shotwell, gwibber, contacts, qalculate, skype, hal, python-alsaaudio, endless-os-games(>=1.0.18~rc3), qbittorrent, endless-installer(>=1.0.18~rc3), stellarium, grub-customizer, endless-os-apps(>=1.0.18~rc3), endless-core(>=1.0.18~rc3), endless-settings(>=1.0.18~rc3), endless-mobile-desktop(>=1.0.18~rc3)
Description: Endless OS desktop widgets installation package
 This package will install the Endless OS desktop widgets
