[Desktop Entry]
Version=1.0
Name=Terra
Comment=Terra
GenericName=Terra
Type=Link
URL=http://terra.com
Icon=firefox
Categories=Network
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/terra_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/terra_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/terra_down.png


