[Desktop Entry]
Version=1.0
Name=Portal Brasil
Comment=
GenericName=Portal Brasil
Type=Link
URL=http://www.brasil.gov.br
Icon=portalbrasil
Categories=Health;Education
