[Desktop Entry]
Version=1.0
Name=Cifra Club
Comment=
GenericName=Cifra Club
Type=Link
URL=http://www.cifraclub.com.br
Icon=cifraclub
Categories=Entertainment;Games
