[Desktop Entry]
Version=1.0
Name=Alerta Rio
Comment=
GenericName=Alerta Rio
Type=Link
URL=http://www.climatempo.com.br/alerta-rio/
Icon=alerta-rio
Categories=Rio
