[Desktop Entry]
Version=1.0
Name=Disque Denuncia
Comment=
GenericName=Disque Denuncia
Type=Link
URL=http://www.disquedenuncia.org.br
Icon=disque-denuncia
Categories=Rio
