[Desktop Entry]
Version=1.0
Name=Fluminense
Comment=
GenericName=Fluminense
Type=Link
URL=http://www.fluminense.com.br
Icon=fluminense	
Categories=Sports
