[Desktop Entry]
Version=1.0
Name=Fofoca
Comment=
GenericName=Fofoca
Type=Link
URL=http://www.fofoca.tv/
Icon=fofoca-tv
Categories=Entertainment;Games
