[Desktop Entry]
Version=1.0
Name=Globo News
Comment=
GenericName=Globo News
Type=Link
URL=http://globotv.globo.com/globo-news
Icon=globonews
Categories=News
