[Desktop Entry]
Version=1.0
Name=Globo Esporte
Comment=
GenericName=Globo Esporte
Type=Link
URL=http://globoesporte.globo.com
Icon=globoesporte-dot-com
Categories=Sports
