[Desktop Entry]
Version=1.0
Name=Tradutor
Comment=Google Translate
GenericName=Tradutor
Type=Link
URL=http://translate.google.com
Icon=googletranslate
Categories=Network
