[Desktop Entry]
Version=1.0
Name=Grito da Nacao
Comment=
GenericName=Grito da Nacao
Type=Link
URL=http://blogs.lancenet.com.br/gritodanacao
Icon=grito-da-nacao
Categories=Sports
