[Desktop Entry]
Version=1.0
Name=Música Online
Comment=Grooveshark
GenericName=Música Online
Type=Link
URL=http://grooveshark.com
Icon=grooveshark
Categories=Entertainment;Games
