[Desktop Entry]
Version=1.0
Name=Ingresso		
Comment=
GenericName=Ingresso
Type=Link
URL=http://www.ingresso.com.br
Icon=ingresso-com
Categories=Entertainment;Games
