[Desktop Entry]
Version=1.0
Name=Museu do Futebol
Comment=
GenericName=Museu do Futebol
Type=Link
URL=http://www.museudofutebol.org.br
Icon=museu-do-futebol
Categories=Sports
