[Desktop Entry]
Version=1.0
Name=Plano de Saude Online
Comment=
GenericName=Plano de Saude Online
Type=Link
URL=http://compreplanosdesaudeonline.com
Icon=plano-saude-online
Categories=Health;Education
