[Desktop Entry]
Version=1.0
Name=Ache Seu Plano de Saude
Comment=
GenericName=Ache Seu Plano de Saude
Type=Link
URL=http://www.planodesaude.net
Icon=plano-saude-net
Categories=Health;Education
