[Desktop Entry]
Version=1.0
Name=Portal Saude
Comment=
GenericName=Portal Saude
Type=Link
URL=http://portalsaude.saude.gov.br/portalsaude/
Icon=portal-saude
Categories=Health;Education 
