[Desktop Entry]
Version=1.0
Name=Poupa Tempo Rio
Comment=
GenericName=Poupa Tempo Rio
Type=Link
URL=http://www.rj.gov.br/web/poupatemporj
Icon=poupa-tempo 
Categories=Rio
