[Desktop Entry]
Version=1.0
Name=Rio Contra Dengue
Comment=
GenericName=Rio Contra Dengue
Type=Link
URL=http://ww.riocontradengue.rj.gov.br/Site/Conteudo/Default.aspx
Icon=riocontradengue
Categories=Rio
