[Desktop Entry]
Version=1.0
Name=Rio Vestibular
Comment=
GenericName=Rio Vestibular
Type=Link
URL=http://www.rivestibular.com.br
Icon=vestibular
Categories=Health;Education 
