[Desktop Entry]
Version=1.0
Name=Senado Online
Comment=
GenericName=Senado Online
Type=Link
URL=http://www.senado.gov.br
Icon=senado-federal
Categories=Health;Education
