[Desktop Entry]
Version=1.0
Name=Som13 Musica
Comment=
GenericName=Som13 Musica
Type=Link
URL=http://som13.com.br
Icon=som13
Categories=Entertainment;Games
