[Desktop Entry]
Version=1.0
Name=Palestras
Comment=TED
GenericName=Palestras
Type=Link
URL=http://www.ted.com/translate/languages/pt-br
Icon=ted
Categories=Network
