[Desktop Entry]
Version=1.0
Name=Tecla Fácil
Comment=
GenericName=Tecla Fácil
Type=Link
URL=http://10fastfingers.com/typing-test/portuguese
Icon=typing
Categories=Network
