[Desktop Entry]
Version=1.0
Name=Vasco da Gama
Comment=
GenericName=Vasco da Gama
Type=Link
URL=http://www.vasco.com.br/site/
Icon=vasco-da-gama
Categories=Sports
