[Desktop Entry]
Version=1.0
Name=Wikipédia
Comment=
GenericName=Wikipédia
Type=Link
URL=http://pt.wikipedia.org
Icon=wikipedia
Categories=Health;Education
