[Desktop Entry]
Version=1.0
Name=Twitter
Comment=Twitter
GenericName=Twitter
Type=Link
URL=http://www.twitter.com
Icon=twitter
Categories=Network
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/twitter_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/twitter_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/twitter_down.png


