[Desktop Entry]
Version=1.0
Name=World Wonders
Name[en_US]=World Wonders
Name[pt_BR]=Maravilhas do Mundo
Comment=World Wonders
GenericName=World Wonders
Type=Link
URL=http://www.google.com/culturalinstitute/worldwonders/
Icon=worldwonders
Categories=Network
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/apps/worldwonders_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/apps/worldwonders_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/apps/worldwonders_down.png


