@define-color app_store_bg #333232;
@define-color app_store_button_fg #8c8c8c;
@define-color app_store_button_hover_fg #e8e8e8;
@define-color app_store_selected_bg alpha(@app_store_bg, 0.80);
@define-color placeholder_text_color #333333;

frame border {
    border-width: 0px;
}

.main-window.background {
    background-color: transparent;
}

.main-frame {
    background-image: url("bg_gray_noise.png");
    border-color: transparent;
    border-radius: 0;
}

.main-frame:dir(ltr) {
    border-width: 0 6px 0 0;
    box-shadow: 0 1px 4px black;
    margin-right: 6px;
}

.main-frame:dir(rtl) {
    border-width: 0 0 0 6px;
    box-shadow: 0 -1px 4px black;
    margin-left: 6px;
}

scrollbar {
    background-color: transparent;
    border-width: 0px;
    min-width: 8px;
}

scrollbar contents trough {
    border-radius: 20px;
    background-color: alpha(black, 0.20);
    box-shadow: inset 0 0 2px 0 alpha(black, 0.25);
}

scrollbar contents trough slider {
    background-color: #d6d6d6;
    background-repeat: no-repeat;
    background-position: 50%;

    margin: 0;
    border-width: 0;
    box-shadow: inset 0 0 2px 0 alpha(black, 0.25);
}

scrollbar.vertical contents trough slider {
    background-image: url("scrollbar_notch.png");
    min-height: 30px;
}

scrollbar.horizontal contents trough slider {
    background-image: url("scrollbar_notch_horizontal.png");
    min-width: 30px;
}

searchbar {
    border: none;
    background: none;
    box-shadow: none;
}

frame.sidebar-frame {
    padding: 0 15px;
}

frame.sidebar-frame button label {
    font-size: 16px;
}

.category-button,
frame.sidebar-frame button {
    background: none;
    border: none;
    border-radius: 0;
    padding: 4px;
    border-image: none;
    box-shadow: none;

    color: @app_store_button_fg;
    text-shadow: 0 1px alpha(black, 0.5);
    -gtk-icon-shadow: 0 1px alpha(black, 0.5);
}

.category-button:checked,
frame.sidebar-frame button:checked {
    font-weight: bold;
}

.category-button:hover,
.sidebar-frame button:hover {
    color: @app_store_button_hover_fg;
}

.category-button:checked,
.category-button:hover:active,
frame.sidebar-frame button:checked,
frame.sidebar-frame button:hover:active {
    color: white;
}

.category-button {
    padding: 6px 0;
}

.category-button:checked {
    background-image: linear-gradient(to top, white, white 3px, transparent 3px);
}

.web-frame {
    border: none;
    padding-right: 15px;
}

.web-frame:dir(rtl),
.folder-frame:dir(rtl) {
    padding-left: 15px;
    padding-right: 0px;
}

.frame-separator {
    border-bottom: 1px solid alpha(white, 0.1);
}

.frame-separator-shadows frame {
    border: none;
}

.frame-separator-shadows .left-edge {
    background-image: url("separator_shadow_left-edge.png");
}

.frame-separator-shadows .center-line.border {
    background-image: url("separator_shadow_body.png");
}

.frame-separator-shadows .right-edge {
    background-image: url("separator_shadow_right-edge.png");
}

.sidebar-frame .back-button {
    border: none;
    background-color: transparent;
    background-image: url("btn_back_normal.png");
}

.sidebar-frame .back-button:hover {
    background-image: url("btn_back_hover.png");
}

.sidebar-frame .back-button:active,
.sidebar-frame .back-button:hover:active {
    background-image: url("btn_back_pressed.png");
}

.close-button {
    background: none;
    border: none;
    padding: 7px 8px 0 0;

    color: @app_store_button_fg;
    -gtk-icon-shadow: 0 1px black;
    box-shadow: none;
}

.close-button:dir(rtl) {
    padding: 7px 0 0 8px;
}

.close-button:hover {
    color: @app_store_button_hover_fg;
}

.close-button:active,
.close-button:hover:active {
    color: #5d5d5d;
}

.content-frame {
    padding: 0;
}

.header-icon {
    padding-left: 15px;
    padding-right: 20px;
}

.header-icon:dir(rtl) {
    padding-left: 20px;
    padding-right: 15px;
}

.header-title {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.header-subtitle {
    font-size: 14px;
    color: #ccc;
}

.new-site-frame-container {
    padding: 13px 23px 24px 0;
}

.new-site-frame-container:dir(rtl) {
    padding: 13px 0 24px 23px;
}

.new-site-frame {
    background: alpha(black, 0.25);
    border-radius: 3px;
    box-shadow: inset 0px 2px 2px 0px alpha(black, 0.40);
}

.new-site-frame .url-icon {
    background: alpha(black, 0.12);
    border-image: linear-gradient(to left,
                                  alpha(white, 0.04),
                                  alpha(white, 0.04) 1px,
                                  alpha(black, 0.08) 1px) 0 2 0 0 / 0 2px 0 0;
    color: #424244;
}

.new-site-frame .url-icon:dir(rtl) {
    border-image: linear-gradient(to right,
                                  alpha(white, 0.04),
                                  alpha(white, 0.04) 1px,
                                  alpha(black, 0.08) 1px) 0 2 0 0 / 0 2px 0 0;
    color: #424244;
}

.new-site-frame .url-frame {
    background: transparent;
}

.new-site-frame .url-entry,
searchbar entry {
    font-size: 16px;
    font-weight: 600; /* semibold */

    color: #333333;
    text-shadow: white 0px 1px 0px;

    background: #d8d8d8;
    box-shadow: inset 0px 2px 3px 0px alpha(black, 0.25);

    border: 1px solid alpha(black, 0.50);
    border-radius: 26px;
}

.new-site-frame .url-entry {
    padding: 0 2px 0 16px;
}

.new-site-frame .url-entry:dir(rtl) {
    padding: 0 16px 0 2px;
}

searchbar entry {
    padding: 6px;
}

.new-site-frame .url-entry-error {
    box-shadow: inset 0px 0px 3px 3px #ffc000;
}

.new-site-frame .url-entry:focus,
.new-site-frame .url-entry:hover,
searchbar entry:focus,
searchbar entry:hover {
    background: white;
}

.new-site-frame .url-entry:selected,
searchbar entry:selected {
    background-color: @app_store_selected_bg;
    color: white;
}

.new-site-frame .url-label {
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 8px 0px 8px 6px;
}

.new-site-frame .url-label:dir(rtl) {
    padding: 8px 6px 8px 0px;
}

.new-site-frame .alert-label {
    font-size: 14px;
    color: #999999;
}

.new-site-frame .alert-highlight .alert-label {
    color: white;
}

.new-site-frame #alert {
    background-image: url("icon_alert.png");
    background-size: 16px;
    background-repeat: no-repeat;
}

.new-site-frame #back {
    background-image: url("btn_back_22x22_normal.png");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    box-shadow: none;
}

.new-site-frame .alert-highlight #back {
    background-image: url("btn_back_22x22_hover.png");
}

.new-site-frame #spinner {
    color: #999999;
}

.new-site-frame #back:active,
.new-site-frame #back:hover:active {
    background-image: url("btn_back_22x22_pressed.png");
}

.new-site-frame #back:hover {
    background-image: url("btn_back_22x22_hover.png");
}

.new-site-frame .add-button {
    background-image: url("btn_add-website_normal.png");
    background-size: 49px;
    border: 1px;
    box-shadow: none;
}

.new-site-frame .add-button:active,
.new-site-frame .add-button:hover:active {
    background-image: url("btn_add-website_pressed.png");
}

.new-site-frame .add-button:hover {
    background-image: url("btn_add-website_hover.png");
}

.new-site-frame .add-button:disabled {
    background-image: url("icon_installed_43x43.png");
    background-color: transparent;
}

.weblink-description {
    color: white;
    font-weight: 600; /* semibold */
    padding: 10px 2px 8px;
}

.weblink-listbox {
    background-color: transparent;
}

.weblink-listbox row {
    background-color: transparent;
}

.weblink-listbox .list-row-separator {
    background-color: transparent;
    border: none;
    padding-top: 11px;
}

.weblink-scrolledwindow {
    border: none;
    padding-right: 15px;
}

.weblink-scrolledwindow:dir(rtl) {
    padding-left: 15px;
}

.weblink-row-image {
    background-color: #2a2a2a;
    border-radius: 4px;
    -gtk-icon-shadow: 0 2px 2px black;
    margin-bottom: 4px;
}

.weblink-listbox row .state-button {
    background-color: transparent;
    background-image: url("btn_add-website_disabled.png");
    background-size: 49px;
    border: 1px;
    box-shadow: none;
}

.weblink-listbox row .state-button:hover {
    background-image: url("btn_add-website_hover.png");
}

.weblink-listbox row .state-button:active {
    background-image: url("btn_add-website_pressed.png");
}

.weblink-listbox row .state-button:disabled {
    background-image: url("icon_installed_43x43.png");
    background-color: transparent;
}

.weblink-listbox row .title {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.weblink-listbox row .description {
    color: #b4b4b4;
    font-size: 14px;
}

.weblink-listbox row .url {
    color: #ffa84d;
}
