.background {
  background-color: rgba(22, 22, 22, 0.8);
}

#side-pane-box {
  margin-right: 18px;
  padding-left: 12px;
}

#side-pane-box > GtkButton {
  color: gray;
}

#side-pane-box > GtkButton:hover {
  color: white;
}

#content-box {
  margin-left: 12px;
}

.header-title {
  font: Sans 24px;
  color: white;
}

.header-description {
  font: regular;
  color: white;
}
