@define-color app_store_bg #333232;
@define-color app_store_button_fg #8c8c8c;
@define-color app_store_button_hover_fg #e8e8e8;
@define-color app_store_selected_bg alpha(@app_store_bg, 0.80);

.background {
    background-color: @app_store_bg;
    background-image: url("bg_gray_noise.png");
}

.scrollbar {
    -GtkRange-slider-width: 8;
    -GtkScrollbar-min-slider-length: 115;
}

.scrollbar.slider {
    background-color: #d6d6d6;
    background-image: url("scrollbar_notch.png");
    background-repeat: no-repeat;
    background-position: 50%;

    border-width: 0;
    box-shadow: inset 0 0 2px 0 alpha(black, 0.25);
}

.scrollbar.trough {
    border-radius: 20px;
    background-color: alpha(black, 0.20);
    box-shadow: inset 0 0 2px 0 alpha(black, 0.25);
}

.sidebar-frame {
    padding: 0 15px;
}

.app-category-button,
.sidebar-button {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;

    color: @app_store_button_fg;
    text-shadow: 0 1px alpha(black, 0.5);
}

.app-category-button:active,
.sidebar-button:active {
    font-weight: bold;
}

.app-category-button *:hover,
.sidebar-button *:hover {
    color: @app_store_button_hover_fg;
}

.app-category-button *:active,
.app-category-button *:hover:active,
.sidebar-button *:active,
.sidebar-button *:hover:active {
    color: white;
}

.app-category-button {
    padding: 6px 0;
}

.app-category-button:active {
    background-image: linear-gradient(to top, white, white 3px, transparent 3px);
}

.app-frame,
.web-frame,
.folder-frame {
    border: none;
    padding-right: 15px;
}

.frame-separator {
    color: alpha(white, 0.1);
}

.frame-separator-shadows .frame {
    border: none;
}

.frame-separator-shadows .left-edge {
    background-image: url('separator_shadow_left-edge.png');
}

.frame-separator-shadows .center-line {
    background-image: url('separator_shadow_body.png');
}

.frame-separator-shadows .right-edge {
    background-image: url('separator_shadow_right-edge.png');
}

.back-button {
    border: none;
    background-color: transparent;
    background-image: url('btn_back_normal.png');
}

.back-button:hover {
    background-image: url('btn_back_hover.png');
}

.back-button:active,
.back-button:hover:active {
    background-image: url('btn_back_pressed.png');
}

.close-button {
    background: none;
    border: none;
    padding: 7px 8px 0 0;

    color: @app_store_button_fg;
    icon-shadow: inset 0 1px black;
}

.close-button *:hover {
    color: @app_store_button_hover_fg;
}

.close-button *:active,
.close-button *:hover:active {
    color: #5d5d5d;
}

.content-frame {
    padding: 0;
}

.header-title {
    font-size: 1.9em;
    font-weight: bold;
    color: white;
}

.header-subtitle {
    color: white;
}

.app-cell-title {
    font-weight: bold;
    font-size: 1.5em;
    color: white;

    padding: 0 12px;
    text-shadow: 0 1px 8px black;
}

.app-cell-subtitle {
    color: white;
    padding: 0 12px;

    text-shadow: 0 1px 2px alpha(black, 0.7);
}

.app-cell-frame {
    border-style: none;
    padding: 12px 0;
}

.app-frame-description {
    color: white;
}

.app-cell-image {
    border-radius: 3px;
    icon-shadow: 0 2px 2px alpha(black, 0.3);
    margin-bottom: 3px;
}

.new-site-frame {
    background: alpha(black, 0.25);
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px black;
}

.new-site-frame .url-icon {
    background: alpha(black, 0.12);
    border-right: 1px solid alpha(black, 0.8);
}

.new-site-frame .url-frame {
    background: transparent;
}

.new-site-frame .url-entry {
    font-size: 15px;
    font-weight: 600; /* semibold */

    color: #333333;
    text-shadow: white 0px 1px 0px;

    background: alpha(white, 0.15);
    box-shadow: 0px 2px 0px alpha(black, 0.25) inset;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 26px;
    border: 1px;
}

.new-site-frame .url-entry-error {
    box-shadow: 0px 0px 3px 2px #ffc000;
}

.new-site-frame .url-entry:focused,
.new-site-frame .url-entry:prelight {
    background: white;
}

.new-site-frame .url-entry:selected {
    background-color: @app_store_selected_bg;
    color: white;
}

.new-site-frame .url-label {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
   
.new-site-frame .alert-label {
    font-size: 14px;
    color: #999999;
}

.new-site-frame #alert {
    background-image: url("icon_alert.png");
    background-size: 16px;
    background-repeat: no-repeat;
}

.new-site-frame #cancel {
    background-image: url("btn_edit_normal.png");
    background-size: 22px;
    background-repeat: no-repeat;
    border: 1px;
}

.new-site-frame #cancel:active,
.new-site-frame #cancel:hover:active {
    background-image: url("btn_edit_pressed.png");
}

.new-site-frame #cancel:hover {
    background-image: url("btn_edit_hover.png");
}

.new-site-frame .add-button {
    background-image: url("btn_add-website_normal.png");
    background-size: 49px;
    border: 1px;
}

.new-site-frame .add-button:active,
.new-site-frame .add-button:hover:active {
    background-image: url("btn_add-website_pressed.png");
}

.new-site-frame .add-button:hover {
    background-image: url("btn_add-website_hover.png");
}

.new-site-frame .add-button:insensitive {
    background-image: url("icon_installed_43x43.png");
    background-color: transparent;
}

.weblink-row {
    background: alpha(black, 0.25);
    border-radius: 3px;
    box-shadow: 0px 2px 2px 0px alpha(black, 0.3);
}

.weblink-listbox:hover {
    background: alpha(#f9f8f8, 0.95);
    box-shadow: 0px 0px 12px 0px alpha(#00ffff, 0.6);
}

.weblink-row .state-button {
    background-color: transparent;
    background-image: url("btn_add-website_disabled.png");
    background-size: 49px;
    border: 1px;
}

.weblink-row .state-button:hover {
    background-image: url("btn_add-website_hover.png");
}

.weblink-row .state-button:active,
.weblink-row .state-button:hover:active {
    background-image: url("btn_add-website_pressed.png");
}

.weblink-row .state-button:insensitive {
    background-image: url("icon_installed_43x43.png");
    background-color: transparent;
}

.weblink-row .icon {
    background: alpha(black, 0.12);
}

.weblink-row .title {
    font-weight: bold;
    color: white;
}

.weblink-row .description {
    color: lightgray;
}

.weblink-row .url {
    color: orange;
}

.folder-description {
    color: white;
    font-weight: 600; /* semibold */
    padding: 10px 2px 8px;
}

.folder-icon-button {
    border-radius: 3px;
    border: none;
    background: none;

    -GtkWidget-focus-line-width: 0;
    -GtkWidget-focus-line-padding: 0;
}

.folder-icon-button:active {
    background: alpha(white, 0.9);
}

.folder-icon-button GtkImage:hover {
    box-shadow: 0px 0px 6px #e3e3e3;
}

.folder-bubble {
    padding: 6px;
    background: alpha(black, 0.35);
    border-radius: 40px;
}

.folder-bubble .bubble-border {
    border: none;
    border-radius: 40px;
    padding: 2px 12px;
}

.folder-bubble.entering .bubble-border {
    background: white;
    box-shadow: inset 0px 2px 3px 0px alpha(black, 0.25);
}

.folder-bubble.done .bubble-border {
    background: transparent;
}

.folder-bubble .entry {
    border: none;
    box-shadow: none;
    background: none;

    font-size: 15px;
    font-weight: 600; /* semibold */
}

.folder-bubble .entry:selected {
    background-color: @app_store_selected_bg;
}

.folder-bubble .button {
    border: none;
    background-repeat: no-repeat;
    background-image: url("btn_add-folder_normal.png");
}

.folder-bubble .button:hover {
    background-image: url("btn_add-folder_hover.png");
}

.folder-bubble .button:active {
    background-image: url("btn_add-folder_pressed.png");
}

.folder-bubble .button:insensitive {
    background-image: url("btn_add-folder_disabled.png");
}

.folder-bubble #doneLabel {
    color: white;
}
