.background {
  background-color: rgb(22, 22, 22);
}

.sidepane-frame {
  margin-right: 18px;
  padding-left: 12px;
}

.sidebar-frame > GtkButton {
  color: gray;
}

.sidebar-frame > GtkButton:hover {
  color: white;
}

.content-frame {
  padding-left: 12px;
  box-shadow: 4px 0 2px rgba(0, 0, 0, 0.85) inset;
}

.header-title {
  font: Sans 24px;
  color: white;
}

.header-description {
  font: regular;
  color: white;
}
