.background {
  background-color: rgb(22, 22, 22);
}

.sidebar-frame {
  padding-right: 64px;
  margin-left: 6px;
}

.sidebar-button {
  color: white;
}

.sidebar-button:hover {
  color: black;
}

.content-frame {
  padding-left: 18px;
  box-shadow: 4px 0 2px rgba(0, 0, 0, 0.85) inset;
}

.header-title {
  font: Sans 24px;
  color: white;
}

.header-description {
  font: regular;
  color: white;
}

.new-site-frame {
  background: rgba(0,0,0,0.25);
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,1);
}

.new-site-frame .url-icon {
    background: rgba(0,0,0,0.12);
    border-right: 1px solid rgba(0,0,0,0.8);
}

.new-site-frame .url-frame {
    background: transparent;
}

.new-site-frame .url-entry {
  font: Sans 15px;
  color: rgb(51,51,51);
  text-shadow: white 0px 1px 0px;
  background-color: rgba(255,255,255,0.85);
  box-shadow: 0px 2px 0px rgba(0,0,0,0.25) inset;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 26px;
}
 
.new-site-frame .url-label {
  font: Sans 20px;
  font-weight: bold;
  color: white;
}
   
.new-site-frame .alert-label {
  font: regular 14px;
  color: rgb(153,153,153);
}

.new-site-frame .alert-icon {
    background: transparent;
}