.background {
  background-color: rgb(22, 22, 22);
}

.sidebar-frame {
  padding-right: 64px;
  margin-left: 6px;
}

.sidebar-button {
  color: white;
}

.sidebar-button:hover {
  color: black;
}

.content-frame {
  padding-left: 18px;
  box-shadow: 4px 0 2px rgba(0, 0, 0, 0.85) inset;
}

.header-title {
  font: Sans 24px;
  color: white;
}

.header-description {
  font: regular;
  color: white;
}

.new-site-frame {
  background: rgba(0,0,0,0.25);
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,1);
}

.new-site-frame .url-icon {
    background: rgba(0,0,0,0.12);
    border-right: 1px solid rgba(0,0,0,0.8);
}

.new-site-frame .url-frame {
    background: transparent;
}

.new-site-frame .url-entry {
  font: Sans 15px;
  color: rgb(51,51,51);
  text-shadow: white 0px 1px 0px;
  background: rgba(255,255,255,0.15);
  box-shadow: 0px 2px 0px rgba(0,0,0,0.25) inset;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 26px;
  border: 1px;
}

.new-site-frame .url-entry-error {
  box-shadow: 0px 0px 3px 2px rgb(255,192,0);
}

.new-site-frame .url-entry:focused,
.new-site-frame .url-entry:prelight {
  background: rgba(255,255,255,1);
}

.new-site-frame .url-label {
  font: Sans 20px;
  font-weight: bold;
  color: white;
}
   
.new-site-frame .alert-label {
  font: regular 14px;
  color: rgb(153,153,153);
}

.new-site-frame #alert {
  background-image: url("icon_alert.png");
  background-size: 16px;
  background-repeat: no-repeat;
}

.new-site-frame #cancel {
  background-image: url("btn_edit_normal.png");
  background-size: 22px;
  background-repeat: no-repeat;
  border: 1px;
}

.new-site-frame #cancel:active,
.new-site-frame #cancel:hover:active {
  background-image: url("btn_edit_pressed.png");
}

.new-site-frame #cancel:hover {
  background-image: url("btn_edit_hover.png");
}

.new-site-frame .add-button {
  background-image: url("btn_add-website_normal.png");
  background-size: 49px;
  border: 1px;
}

.new-site-frame .add-button:active,
.new-site-frame .add-button:hover:active {
  background-image: url("btn_add-website_pressed.png");
}

.new-site-frame .add-button:hover {
  background-image: url("btn_add-website_hover.png");
}

.new-site-frame .add-button:insensitive {
  background-image: url("icon_installed_43x43.png");
  background-color: transparent;
}

.weblink-row {
  background: rgba(0,0,0,0.25);
  border-radius: 3px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

.weblink-listbox {
  padding: 15px;
}

.weblink-listbox:hover {
  background: rgba(249,248,248,0.95);
  box-shadow: 0px 0px 12px 0px rgba(0,255,255,0.6);
}

.weblink-row GtkButton {
  background-image: url("btn_add-website_disabled.png");
  background-size: 49px;
  border: 1px;
}


.weblink-row GtkButton:hover {
  background-image: url("btn_add-website_hover.png");
}

.weblink-row GtkButton:active,
.weblink-row GtkButton:hover:active {
  background-image: url("btn_add-website_pressed.png");
}

.weblink-row GtkButton:insensitive {
  background-image: url("icon_installed_43x43.png");
  background-color: transparent;
}

.weblink-row GtkImage {
  background: rgba(0,0,0,0.12);
}

.folder-frame GtkToggleButton {
  border-radius: 4px;
  border: none;
  background: transparent;

  -GtkWidget-focus-line-width: 0;
}

/* hover, focused ? */
.folder-frame GtkToggleButton:active {
  background: #e3e3e3;
}
