.background {
  background-color: rgb(22, 22, 22);
}

.sidebar-frame {
    padding: 0 15px;
}

.app-category-button,
.sidebar-button {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;

  color: #8c8c8c;
  text-shadow: 0 1px alpha(black, 0.5);
}

.app-category-button:active,
.sidebar-button:active {
    font-weight: bold;
}

.app-category-button *:hover,
.sidebar-button *:hover {
  color: #e8e8e8;
}

.app-category-button *:active,
.app-category-button *:hover:active,
.sidebar-button *:active,
.sidebar-button *:hover:active {
  color: white;
}

.app-category-button {
    padding: 6px 0;
}

.app-category-button:active {
    background-image: linear-gradient(to top, white, white 3px, transparent 3px);
}

.app-frame,
.web-frame,
.folder-frame {
    border: none;
}

.frame-separator {
    color: alpha(white, 0.1);
}

.close-button {
    background: none;
    border: none;
    padding: 15px 15px 0;

    color: #8a8a8a;
    icon-shadow: inset 0 1px black;
}

.close-button *:hover {
    color: #e8e8e8;
}

.close-button *:active,
.close-button *:hover:active {
    color: #5d5d5d;
}

.content-frame {
  padding-left: 18px;
}

.header-title {
    font-size: 1.9em;
    font-weight: bold;
    color: white;
}

.app-category-button {

}

.app-cell-title {
  font: bold;
  font-size: 1.5em;
  color: white;
}

.app-cell-subtitle {
  color: white;
}

.app-cell-frame {
    border-style: none;
    padding: 12px;
}

.new-site-frame {
  background: rgba(0,0,0,0.25);
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,1);
}

.new-site-frame .url-icon {
    background: rgba(0,0,0,0.12);
    border-right: 1px solid rgba(0,0,0,0.8);
}

.new-site-frame .url-frame {
    background: transparent;
}

.new-site-frame .url-entry {
  font: Sans 15px;
  color: rgb(51,51,51);
  text-shadow: white 0px 1px 0px;
  background: rgba(255,255,255,0.15);
  box-shadow: 0px 2px 0px rgba(0,0,0,0.25) inset;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 26px;
  border: 1px;
}

.new-site-frame .url-entry-error {
  box-shadow: 0px 0px 3px 2px rgb(255,192,0);
}

.new-site-frame .url-entry:focused,
.new-site-frame .url-entry:prelight {
  background: rgba(255,255,255,1);
}

.new-site-frame .url-label {
  font: Sans 20px;
  font-weight: bold;
  color: white;
}
   
.new-site-frame .alert-label {
  font: regular 14px;
  color: rgb(153,153,153);
}

.new-site-frame #alert {
  background-image: url("icon_alert.png");
  background-size: 16px;
  background-repeat: no-repeat;
}

.new-site-frame #cancel {
  background-image: url("btn_edit_normal.png");
  background-size: 22px;
  background-repeat: no-repeat;
  border: 1px;
}

.new-site-frame #cancel:active,
.new-site-frame #cancel:hover:active {
  background-image: url("btn_edit_pressed.png");
}

.new-site-frame #cancel:hover {
  background-image: url("btn_edit_hover.png");
}

.new-site-frame .add-button {
  background-image: url("btn_add-website_normal.png");
  background-size: 49px;
  border: 1px;
}

.new-site-frame .add-button:active,
.new-site-frame .add-button:hover:active {
  background-image: url("btn_add-website_pressed.png");
}

.new-site-frame .add-button:hover {
  background-image: url("btn_add-website_hover.png");
}

.new-site-frame .add-button:insensitive {
  background-image: url("icon_installed_43x43.png");
  background-color: transparent;
}

.weblink-row {
  background: rgba(0,0,0,0.25);
  border-radius: 3px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

.weblink-listbox {
  padding: 15px;
}

.weblink-listbox:hover {
  background: rgba(249,248,248,0.95);
  box-shadow: 0px 0px 12px 0px rgba(0,255,255,0.6);
}

.weblink-row .state-button {
  background-color: transparent;
  background-image: url("btn_add-website_disabled.png");
  background-size: 49px;
  border: 1px;
}


.weblink-row .state-button:hover {
  background-image: url("btn_add-website_hover.png");
}

.weblink-row .state-button:active,
.weblink-row .state-button:hover:active {
  background-image: url("btn_add-website_pressed.png");
}

.weblink-row .state-button:insensitive {
  background-image: url("icon_installed_43x43.png");
  background-color: transparent;
}

.weblink-row .icon {
  background: rgba(0,0,0,0.12);
}

.weblink-row .title {
  font: Sans;
  font-weight: bold;
  color: white;
}

.weblink-row .description {
  font: regular;
  color: lightgray;
}

.weblink-row .url {
  font: Sans;
  color: orange;
}

.folder-description {
    color: white;
    font-weight: 600; /* semibold */
    padding: 10px 2px 8px;
}

.folder-frame GtkToggleButton {
  border-radius: 3px;
  border: none;
  background: none;
  margin: 0px;

  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-line-padding: 0;
}

.folder-frame GtkToggleButton GtkImage:hover {
  box-shadow: 0px 0px 6px #e3e3e3;
}

.folder-frame GtkToggleButton:active {
  background: alpha(#ffffff, 0.9);
}

PBubbleWindow {
  padding: 12px;
  border: 2px alpha(#000000, 0.35);
  border-radius: 40px;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}

PBubbleWindow.entering {
  background: #ffffff;
}

PBubbleWindow.done {
  background: alpha(#000000, 0.35);
}

.folder-bubble GtkEntry {
	border: none;
}

.folder-bubble GtkButton {
  border: none;
  background-repeat: no-repeat;
  background-image: url("btn_add-folder_normal.png");
}

.folder-bubble GtkButton:hover {
  background-image: url("btn_add-folder_hover.png");
}

.folder-bubble GtkButton:active {
  background-image: url("btn_add-folder_pressed.png");
}

.folder-bubble GtkButton:insensitive {
  background-image: url("btn_add-folder_disabled.png");
}

.folder-bubble GtkLabel {
	color: white;
}
