@define-color app_store_bg #333232;
@define-color app_store_button_fg #8c8c8c;
@define-color app_store_button_hover_fg #e8e8e8;
@define-color app_store_selected_bg alpha(@app_store_bg, 0.80);

.main-window.background {
    background-color: transparent;
}

.window-frame.frame {
    background-image: url("bg_gray_noise.png");
    border-width: 0 6px 0 0;
    border-color: transparent;
    border-radius: 0;

    border-image: linear-gradient(to left,
                                  transparent,
                                  alpha(black, 0.1) 2px,
                                  alpha(black, 0.55) 6px,
                                  transparent 6px) 6 / 6px stretch;
}

.scrollbar {
    -GtkRange-slider-width: 8;
    -GtkRange-stepper-spacing: 15;
    -GtkRange-stepper-size: 0;
    -GtkRange-trough-under-steppers: false;

    -GtkScrollbar-min-slider-length: 115;
    -GtkScrollbar-has-forward-stepper: true;
}

.scrollbar.slider {
    background-color: #d6d6d6;
    background-image: url("scrollbar_notch.png");
    background-repeat: no-repeat;
    background-position: 50%;

    border-width: 0;
    box-shadow: inset 0 0 2px 0 alpha(black, 0.25);
}

.scrollbar.trough {
    border-radius: 20px;
    background-color: alpha(black, 0.20);
    box-shadow: inset 0 0 2px 0 alpha(black, 0.25);
}

.sidebar-frame {
    padding: 0 15px;
}

.category-button,
.sidebar-button {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;

    color: @app_store_button_fg;
    text-shadow: 0 1px alpha(black, 0.5);
}

.category-button:active,
.sidebar-button:active {
    font-weight: bold;
}

.category-button:hover,
.sidebar-button:hover {
    color: @app_store_button_hover_fg;
}

.category-button:active,
.category-button:hover:active,
.sidebar-button:active,
.sidebar-button:hover:active {
    color: white;
}

.category-button {
    padding: 6px 0;
}

.category-button:active {
    background-image: linear-gradient(to top, white, white 3px, transparent 3px);
}

.app-frame,
.web-frame,
.folder-frame {
    border: none;
    padding-right: 15px;
}

.frame-separator {
    color: alpha(white, 0.1);
}

.frame-separator-shadows .frame {
    border: none;
}

.frame-separator-shadows .left-edge {
    background-image: url("separator_shadow_left-edge.png");
}

.frame-separator-shadows .center-line {
    background-image: url("separator_shadow_body.png");
}

.frame-separator-shadows .right-edge {
    background-image: url("separator_shadow_right-edge.png");
}

.back-button {
    border: none;
    background-color: transparent;
    background-image: url("btn_back_normal.png");
}

.back-button:hover {
    background-image: url("btn_back_hover.png");
}

.back-button:active,
.back-button:hover:active {
    background-image: url("btn_back_pressed.png");
}

.close-button {
    background: none;
    border: none;
    padding: 7px 8px 0 0;

    color: @app_store_button_fg;
    icon-shadow: inset 0 1px black;
}

.close-button:hover {
    color: @app_store_button_hover_fg;
}

.close-button:active,
.close-button:hover:active {
    color: #5d5d5d;
}

.content-frame {
    padding: 0;
}

.header-icon {
    padding-left: 15px;
    padding-right: 20px;
}

.header-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.header-subtitle {
    font-size: 14px;
    color: #ccc;
}

.header-installed-image {
    padding-top: 8px;
}

.app-cell-title {
    font-weight: bold;
    font-size: 17px;
    color: white;

    padding: 0 12px;
    text-shadow: 0 1px 6px alpha(black, 0.5);
}

.app-cell-subtitle {
    font-size: 13px;
    color: white;
    padding: 0 12px;

    text-shadow: 0 1px 6px alpha(black, 0.5);
}

.app-cell-frame {
    border-style: none;
    padding: 12px 0;
}

.app-frame-description {
    background-color: transparent;
    color: white;
    font-size: 13px;
}

.app-cell-image {
    border-radius: 3px;
    icon-shadow: 0 2px 2px alpha(black, 0.3);
    margin-bottom: 3px;
}

.app-cell-stack.fade-overlay {
    border-radius: 3px;
    background-color: alpha(white, 0.5);
    margin: 1px 2px 2px 1px;
}

.app-cell-icon {
    padding: 0 10px 4px;
    icon-shadow: 0 2px 2px alpha(black, 0.3);
}

.select .app-cell-title,
.select .app-cell-subtitle {
    color: #333333;
    text-shadow: 0 1px white;
}

.app-frame .state-button {
    background: none;

    background-image: url("btn_install_normal_middle.png");
    background-position: -4px;
    border-image: url("btn_install_normal_border.png") 4 18 4 18 / 4px 18px 4px 18px;
    border-width: 4px 18px 4px 18px;

    font-size: 1.12em;
    font-weight: 600; /* semibold */
    color: alpha(white, 0.9);
    text-shadow: 0 1px alpha(black, 0.3);
}

.app-frame .state-button:hover {
    color: white;

    background-image: url("btn_install_hover_middle.png");
    border-image-source: url("btn_install_hover_border.png");
}

.app-frame .state-button:active,
.app-frame .state-button:hover:active {
    color: alpha(white, 0.75);
    text-shadow: 0 -1px alpha(black, 0.5);

    background-image: url("btn_install_pressed_middle.png");
    border-image-source: url("btn_install_pressed_border.png");
}

.app-frame .state-button.remove {
    background-image: url("btn_remove_normal_middle.png");
    border-image-source: url("btn_remove_normal_border.png");
}

.app-frame .state-button.remove:hover {
    background-image: url("btn_remove_hover_middle.png");
    border-image-source: url("btn_remove_hover_border.png");
}

.app-frame .state-button.remove:active,
.app-frame .state-button.remove:hover:active {
    background-image: url("btn_remove_pressed_middle.png");
    border-image-source: url("btn_remove_pressed_border.png");
}

.app-frame .state-button .state-image {
    border: none;
    background-image: url("btn_install_normal_icon.png");
}

.app-frame .state-button .state-image:hover {
    background-image: url("btn_install_hover_icon.png");
}

.app-frame .state-button .state-image:active {
    background-image: url("btn_install_pressed_icon.png");
}

.app-frame .state-button.remove .state-image {
    background-image: url("btn_remove_normal_icon.png");
}

.app-frame .state-button.remove .state-image:hover {
    background-image: url("btn_remove_hover_icon.png");
}

.app-frame .state-button.remove .state-image:active {
    background-image: url("btn_remove_pressed_icon.png");
}

.app-frame .state-button.update .state-image {
    background-image: url("btn_update_normal_icon.png");
}

.app-frame .state-button.update .state-image:hover {
    background-image: url("btn_update_hover_icon.png");
}

.app-frame .state-button.update .state-image:active {
    background-image: url("btn_update_pressed_icon.png");
}

.screenshot-box {
    opacity: 1;
    padding: 15px 15px;
    border-style: none;
    background-color: shade(@app_store_bg, 0.8);
}

.install-progress,
.installed-message {
    color: alpha(white, 0.9);
    border: none;
}

.new-site-frame-container {
    padding-top: 28px;
    padding-bottom: 24px;
    padding-right: 23px;
}

.new-site-frame {
    background: alpha(black, 0.25);
    border-radius: 4px;
    box-shadow: inset 0px 2px 2px 0px black;
}

.new-site-frame .url-icon {
    background: alpha(black, 0.12);
    border-image: linear-gradient(to left,
                                  alpha(white, 0.04),
                                  alpha(white, 0.04) 1px,
                                  alpha(black, 0.08) 1px) 0 2 0 0 / 0 2px 0 0;
    color: #424244;
}

.new-site-frame .url-frame {
    background: transparent;
}

.new-site-frame .url-entry {
    font-size: 1.25em;
    font-weight: 600; /* semibold */

    color: #333333;
    text-shadow: white 0px 1px 0px;

    background: alpha(white, 0.15);
    box-shadow: inset 0px 2px 0px alpha(black, 0.25);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 26px;
    border: 1px;
}

.new-site-frame .url-entry-error {
    box-shadow: inset 0px 0px 3px 2px #ffc000;
}

.new-site-frame .url-entry:focused,
.new-site-frame .url-entry:prelight {
    background: white;
}

.new-site-frame .url-entry:selected {
    background-color: @app_store_selected_bg;
    color: white;
}

.new-site-frame .url-label {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
   
.new-site-frame .alert-label {
    font-size: 1.083em;
    color: #999999;
}

.new-site-frame #alert {
    background-image: url("icon_alert.png");
    background-size: 16px;
    background-repeat: no-repeat;
}

.new-site-frame #cancel {
    background-image: url("btn_edit_normal.png");
    background-size: 22px;
    background-repeat: no-repeat;
    border: 1px;
}

.new-site-frame #spinner {
    color: #999999;
}

.new-site-frame #cancel:active,
.new-site-frame #cancel:hover:active {
    background-image: url("btn_edit_pressed.png");
}

.new-site-frame #cancel:hover {
    background-image: url("btn_edit_hover.png");
}

.new-site-frame .add-button {
    background-image: url("btn_add-website_normal.png");
    background-size: 49px;
    border: 1px;
}

.new-site-frame .add-button:active,
.new-site-frame .add-button:hover:active {
    background-image: url("btn_add-website_pressed.png");
}

.new-site-frame .add-button:hover {
    background-image: url("btn_add-website_hover.png");
}

.new-site-frame .add-button:insensitive {
    background-image: url("icon_installed_43x43.png");
    background-color: transparent;
}

.weblink-description {
    color: white;
    font-weight: 600; /* semibold */
    padding: 10px 2px 8px;
}

.weblink-listbox {
    background-color: transparent;
}

.weblink-listbox .list-row {
    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 0;

    background-color: transparent;
}

.weblink-listbox .list-row-separator {
    background-color: transparent;
    border: none;
    padding-top: 11px;
}

.weblink-scrolledwindow {
    border: none;
    padding-right: 15px;

    -GtkScrolledWindow-scrollbars-within-bevel: false;
}

.weblink-row-image {
    background-color: #2a2a2a;
    border-radius: 4px;
    icon-shadow: 0 2px 2px black;
    margin-bottom: 4px;
}

.weblink-row-image.select {
    background-color: alpha(#f9f8f8, 0.95);
    icon-shadow: -2px 0  3px alpha(#f9f8f8, 0.3),
                  2px 0  3px alpha(#f9f8f8, 0.3),
                  0 2px  3px alpha(#f9f8f8, 0.3),
                  0 -2px 3px alpha(#f9f8f8, 0.3);
    margin: 4px;
}

.weblink-listbox .list-row .state-button {
    background-color: transparent;
    background-image: url("btn_add-website_disabled.png");
    background-size: 49px;
    border: 1px;
}

.weblink-listbox .list-row .row-highlight .state-button {
    background-image: url("btn_add-website_normal.png");
}

.weblink-listbox .list-row .state-button:hover {
    background-image: url("btn_add-website_hover.png");
}

.weblink-listbox .list-row .state-button:active {
    background-image: url("btn_add-website_pressed.png");
}

.weblink-listbox .list-row .state-button:insensitive {
    background-image: url("icon_installed_43x43.png");
    background-color: transparent;
}

.weblink-listbox .list-row .title {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.weblink-listbox .list-row .row-highlight .title {
    color: #3c3c3c;
}

.weblink-listbox .list-row .description {
    color: #b4b4b4;
    font-size: 13px;
}

.weblink-listbox .list-row .row-highlight .description {
    color: #646464;
}

.weblink-listbox .list-row .url {
    color: #ffa84d;
}

.weblink-listbox .list-row .row-highlight .url {
    color: #e87700;
}

.folder-description {
    color: white;
    font-weight: 600; /* semibold */
    padding: 10px 2px 8px;
}

.folder-icon-button {
    border-radius: 3px;
    border: none;
    background: none;
    color: #e8e8e8;

    -GtkWidget-focus-line-width: 0;
    -GtkWidget-focus-line-padding: 0;
}

.folder-icon-grid.grabbed .folder-icon-button {
    color: @app_store_button_fg;
}

.folder-icon-button:hover {
    background: url("btn_folder-glow_hover.png");
}

.folder-icon-grid.grabbed .folder-icon-button:active,
.folder-icon-button:active {
    color: #646464;

    background: url("btn_folder-glow_pressed.png");
}

.folder-bubble {
    background-color: @app_store_bg;
    border: none;
    border-radius: 20px;
}

.folder-bubble .bubble-border {
    border: none;
    border-radius: 20px;
    padding: 2px;
}

.folder-bubble.entering .bubble-border {
    background: white;
    box-shadow: inset 0px 2px 3px 0px alpha(black, 0.25);
}

.folder-bubble.done .bubble-border {
    background: transparent;
}

.folder-bubble .entry {
    border: none;
    box-shadow: none;
    background: none;

    font-size: 1.12em;
    font-weight: 600; /* semibold */

    padding-left: 10px;
}

.folder-bubble .entry:selected {
    background-color: @app_store_selected_bg;
}

.folder-bubble .button {
    border: none;
    background-repeat: no-repeat;
    background-image: url("btn_add-folder_normal.png");
    background-color: transparent;
}

.folder-bubble .button:hover {
    background-image: url("btn_add-folder_hover.png");
}

.folder-bubble .button:active {
    background-image: url("btn_add-folder_pressed.png");
}

.folder-bubble .button:insensitive {
    background-image: url("btn_add-folder_disabled.png");
}

.folder-bubble #doneLabel {
    color: white;

    font-size: 1.12em;
    font-weight: 600; /* semibold */
}
