[Desktop Entry]
Version=1.0
Type=Application
Name=Photos
Name[en_US]=Photos
Comment=Photos
TryExec=shotwell %U
Exec=shotwell %U
Icon=photos
Categories=
X-EndlessM-Normal-Icon=/usr/share/icons/hicolor/48x48/apps/photos_normal.png
X-EndlessM-Hover-Icon=/usr/share/icons/hicolor/48x48/apps/photos_hover.png
X-EndlessM-Down-Icon=/usr/share/icons/hicolor/48x48/apps/photos_down.png

