[Desktop Entry]
Version=1.0
Type=Application
Name=Video
Name[en_US]=Video
Name[es_GT]=Vídeos
Name[pt_BR]=Vídeos
Comment=Video
TryExec=/usr/bin/vlc %U
Exec=/usr/bin/vlc %U
Icon=video
Categories=
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/apps/movies_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/apps/movies_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/apps/movies_down.png

