Package: endlessos-base-desktop
Version: 1.0.19~rc1
Architecture: i386
Maintainer: Asynchrony Solutions, Inc <endlessmobile@gmail.com>
Installed-Size: 19506
Depends: libc6 (>= 2.3), zlib1g (>= 1:1.1.4), python (>= 2.6), python-gtk2, python-setuptools, python-xlib, pcmanfm, beatbox, gstreamer0.10-ffmpeg, libreoffice, evolution, eog, gcalctool, gnome-utils, vlc, pidgin, endlessos-base-browser (>= 1.0.19~rc1), shotwell, gwibber, contacts, qalculate, skype, hal, python-alsaaudio, gimp (>= 2.8), endlessos-base-games (>= 1.0.19~rc1), qbittorrent, endlessos-base-installer (>= 1.0.19~rc1), stellarium, grub-customizer, endlessos-base-common (>= 1.0.19~rc1), endlessos-base-core (>= 1.0.19~rc1), endlessos-base-settings (>= 1.0.19~rc1), endlessos-base-config (>= 1.0.19~rc1)
Conflicts: endless-os-desktop-widget
Replaces: endless-os-desktop-widget
Provides: endless-os-desktop-widget
Section: non-free/misc
Priority: standard
Homepage: http://www.endlessm.com
Description: Endless OS desktop widgets installation package
 This package will install the Endless OS desktop widgets
