[Desktop Entry]
Version=1.0
Name=News
Comment=News
GenericName=News
Type=Link
URL=http://www.cnn.com
Icon=firefox
Categories=Network
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/folders/news_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/folders/news_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/folders/news_down.png


