[Desktop Entry]
Version=1.0
Name=Sports
Comment=Sports
GenericName=Sports
Type=Link
URL=http://www.espn.com/
Icon=firefox
Categories=Network
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/apps/sports_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/apps/sports_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/apps/sports_down.png


