[Desktop Entry]
Version=1.0
Name=Facebook
Comment=Facebook
GenericName=Facebook
Type=Link
URL=http://www.facebook.com
Icon=facebook
Categories=Network
X-EndlessM-Normal-Icon=/usr/share/endlessm/icons/facebook_normal.png
X-EndlessM-Hover-Icon=/usr/share/endlessm/icons/facebook_hover.png
X-EndlessM-Down-Icon=/usr/share/endlessm/icons/facebook_down.png


